@model List<ResultAboutDto>
    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    int counter = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">@ViewData["Title"]</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Subtitle</th>
                                <th scope="col">Description1</th>
                                <th scope="col">Description2</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                counter++;
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td>@item.Title</td>
                                    <td>@item.Subtitle</td>
                                    <td>@item.Description1</td>
                                    <td>@item.Description2</td>
                                    <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-outline-danger">Delete</a></td>
                                    <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-outline-success">Update</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/About/CreateAbout" class="btn btn-outline-info">Enter a new About</a>
                </div>
            </div>
        </div>
    </div>
</div>